

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    max-width: fit-content;
}

/* "About" styles - Bootstrap */

.background-white {
    background-image: linear-gradient(to left, rgba(250,250,250,0), rgba(255,250,250,1));
}

#background-pic {
    background-image: url(../images/nature1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #F9FAFC;;
}

/* Responsive styling */

@media (max-width: 532px) {
    #background-pic {
        background-image: none;
        background-color: beige;
    }
}
